body,html{
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%  ;
  font-family: Arial, Helvetica, sans-serif;
}

@import "bootstrap-4-grid/scss/grid.scss";

@import "leet-mvc/scss/buttons.scss";