body,html{
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%  ;
  font-family: Arial, Helvetica, sans-serif;
}

.touch-scroll{
  overflow-y: auto;
}
#page-OptionsDialogPage li img {
  max-width: 4em !important;
  max-height: 2em;
}
.page-HeaderPage > .header {
  background-color: #1e2021 !important;
}
.page-DialogPage .row {
  //max-width: 430px !important;
}
.link {
  color: #3b3bf0;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:active {
    font-weight: bold;
  }
}
@import "bootstrap-4-grid/scss/grid.scss";

@import "leet-mvc/scss/buttons.scss";